#company-container {
    display: grid;
    align-content: center;
    margin-left: 20px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}
#company-container h1 {
    font-size: 25px;
}
#company-container h2 {
    font-size: 20px;
}
#company-container p {
    font-size: 18px;
}
#cargo-boxes {
    text-decoration: underline;
    font-weight: 600;
    letter-spacing: 1px;
}
#company-container input {
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

@media only screen and (max-width: 425px) {
    #company-container h1 {
        font-size: 16px;
    }
    #company-container h2 {
        font-size: 12px;
    }
    #company-container p {
        font-size: 10px;
    }
    #company-container input {
        height: 20px;
        font-size: 10px;
    }
}