#container {
    display: grid;
    grid: min-content auto/1fr 2fr .3fr;
  }
  #list {
  
    grid-row: 2/3;
    grid-column: 1/2;
    list-style-type: none;
  }
 
  #display {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  #toolbar {
    grid-row: 1/2;
    grid-column: 1/4;
  }